.footer {
  text-align: center;
  font-size: 1rem;
  color: var(--color-text, #ccc);
  opacity: 0.5;
  user-select: none;
  background: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: auto;
  margin: auto;
}