/* src/components/Layout/Sidebar.css */
.sidebar {
  background: var(--color-secondary);
  color: #fff;
  min-width: 250px;
  padding: 1rem;
  position: relative;
  transition: all 0.3s;
}

.sidebar.closed {
  min-width: 60px;
  width: 60px;
}

.sidebar-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.2rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar li a span {
  margin-left: 0.5rem;
}

.sidebar.closed li a span {
  display: none;
}
