.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Adiciona uma transição para efeito de fade-in */
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal-content {
  background: var(--color-bg);
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--color-text);
}
